<!DOCTYPE html>
<html>
<head>
<title>Advanced Analytics</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="navbar">
<a href="/">Home</a>
<a href="/history">History</a>
<a href="/analytics">Analytics</a>
<a href="/logout">Logout</a>
</div>

<div class="container">
<div class="card">
<h2>Advanced Analytics Dashboard</h2>

<p><b>Average Steps:</b> {{ avg }}</p>
<p><b>Insight:</b> {{ insight }}</p>

<p><b>🔥 Activity Score:</b> {{ score }}/100</p>
<p><b>📅 Best Day:</b> {{ best_day }}</p>
<p><b>📈 Improvement:</b> {{ improvement }} steps</p>

<br>

<canvas id="chart"></canvas>

</div>
</div>
<script>
new Chart(document.getElementById("chart"), {
    type: "line",
    data: {
        labels: {{ dates|tojson }},
        datasets: [{
            label: "Daily Steps",
            data: {{ steps|tojson }},
            borderColor: "#2563eb",
            fill: false,
            tension: 0.3
        }]
    }
});
</script>

</body>
</html>
