<!DOCTYPE html>
<html>
<head>
<title>Diet</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="navbar">
<a href="/">Home</a>
<a href="/history">History</a>
<a href="/analytics">Analytics</a>
<a href="/logout">Logout</a>
</div>

<div class="container">
<div class="card">
<h2>Smart Diet Plan</h2>

<p>BMI: {{ bmi }}</p>
<p>Goal: {{ goal }}</p>
<p>Calories: {{ calories }}</p>

<canvas id="chart"></canvas>

<table>
{% for k,v in meals.items() %}
<tr><td>{{ k }}</td><td>{{ v }}</td></tr>
{% endfor %}
</table>

</div>

<script>
new Chart(document.getElementById("chart"), {
type: "doughnut",
data: {
labels: {{ labels|tojson }},
datasets: [{
data: {{ data|tojson }},
backgroundColor: ["#22c55e","#3b82f6","#f59e0b"]
}]
}
});
</script>

</body>
</html>
