<!DOCTYPE html>
<html>
<head>
<title>Diet</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="sidebar">
<h2>FitTrack</h2>
<a href="/">Home</a>
<a href="/history">History</a>
<a href="/logout">Logout</a>
</div>

<div class="main">
<div class="card">

<h2>Diet Plan</h2>

<canvas id="chart"></canvas>

<table>
{% for key,value in foods.items() %}
<tr><td>{{ key }}</td><td>{{ value }}</td></tr>
{% endfor %}
</table>

</div>
</div>

<script>
new Chart(document.getElementById("chart"), {
type:"pie",
data:{labels:{{ labels|tojson }},datasets:[{data:{{ data|tojson }}}]}
});
</script>

</body>
</html>
