<!DOCTYPE html>
<html>
<head>
<title>History</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
<h2>Fitness App</h2>
<a href="/">🏠 Home</a>
<a href="/history">📊 History</a>
<a href="/logout">🚪 Logout</a>
</div>

<div class="main">
<div class="container">

<h2>History</h2>

<table>
<tr><th>BMI</th><th>Category</th><th>Calories</th></tr>

{% for row in data %}
<tr>
<td>{{ row[0] }}</td>
<td>{{ row[1] }}</td>
<td>{{ row[2] }}</td>
</tr>
{% endfor %}

</table>

</div>
</div>

</body>
</html>
