<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
<h2>💪 FitTrack</h2>
<a href="/">Home</a>
<a href="/history">History</a>
<a href="/logout">Logout</a>
</div>

<div class="main">
<div class="card">

<h2>Welcome {{ user }}</h2>

<form method="POST">
<input name="height" placeholder="Height">
<input name="weight" placeholder="Weight">

<select name="medical_condition">
<option value="no">No Medical</option>
<option value="yes">Medical</option>
</select>

<select name="food_type">
<option value="veg">Veg</option>
<option value="nonveg">Non-Veg</option>
</select>

<button>Calculate</button>
</form>

</div>
</div>

</body>
</html>
