<!DOCTYPE html>
<html>
<head>
    <title>Fitness Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Enter Your Details</h2>

    <form method="POST">
        <input name="age" placeholder="Age" required>
        <input name="height" placeholder="Height (cm or m)" required>
        <input name="weight" placeholder="Weight (kg)" required>

        <select name="medical_condition">
            <option value="no">No Medical Condition</option>
            <option value="yes">Medical Condition</option>
        </select>

        <button type="submit">Get Result</button>
    </form>
</div>

</body>
</html>
