<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-container">
<div class="auth-card">

<h2>Register</h2>

<form method="POST">
<input name="username">
<input name="password" type="password">

<select name="goal">
<option value="weight_loss">Weight Loss</option>
<option value="muscle">Muscle Gain</option>
<option value="fitness">Fitness</option>
</select>

<button>Register</button>
</form>

<a href="/login">Login</a>

</div>
</div>

</body>
</html>
