<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="auth-container">
<div class="auth-card">

<h2>Create Account</h2>

<form method="POST">
<input name="username" placeholder="Username" required>
<input name="password" type="password" placeholder="Password" required>
<button>Register</button>
</form>

<p style="margin-top:10px;">
Already have an account?
<a href="/login" style="color:white;"><b>Login</b></a>
</p>

</div>
</div>

</body>
</html>
